.card {
  width: var(--card-width);
  height: var(--card-height);
  background-color: var(--card-backgroundColor);
}

.card h1 {
  font-family: "Eurostile", Sans-serif;
  font-weight: 900;
  line-height: 60px;
  color: var(--lightColor);
}

.card.gridCards h3 {
  font-size: 22px !important;
  font-family: "IBM Plex Sans", Sans-serif;
  color: var(--primaryColor);
  padding-left: 14px;
  position: relative;
  top: -10px;
}

.card.gridCards {
  box-shadow: 0px 2px 20px 1px var(--darkColor);
  height: 280px;
}
.card.gridCards .icon {
  margin: 14px;
}
.card.gridCards p {
  padding-left: 14px;
  position: relative;
  line-height: 1.3rem;
  color: #222;
}

.card.mainGif img {
  box-shadow: 0px 0px 10px 1px var(--secondaryColor);
}
.about2 {
  position: relative;
  left: 15px;
}
.portifolio-card-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.portifolio-card-1.card h1 {
  color: var(--lightColor) !important;
  font-family: "Eurostile", Sans-serif;
  text-shadow: 1px 1px 4px rgb(0, 118, 73);
  font-weight: 900;
  font-size: 35px;
  line-height: 3rem;
  letter-spacing: 0px;
  margin-bottom: 1.5rem;
  text-align: start;
}
.card .ImagesPotifolioCard {
  margin-top: 1.2rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
}

.portifolioImages {
  box-shadow: 0px 0px 10px 1px var(--secondaryColor);
  display: flex;
  height: 261px;
  justify-content: center;
  align-items: center;
}
.card.ImagesPotifolioCard2 img {
  border: none;
}

.ContactUs1 {
  font-family: "IBM Plex Sans", Sans-serif;
  font-size: 20px !important;
  font-weight: 100 !important;
}

.ContactUs1 h1 {
  font-family: "IBM Plex Sans", Sans-serif;
  font-size: 20px !important;
  font-weight: 100 !important;
}

.ContactUs2 {
  font-family: "IBM Plex Sans", Sans-serif;
  font-size: 20px !important;
  font-weight: 100 !important;
  position: relative;
}

.ContactUs2 img {
  position: absolute;
  bottom: -65px;
  left: -80px;
}

.FooterCard {
  display: flex;
  justify-content: space-between;
}

.IconsFooter {
  width: 230px;
  display: flex;
  justify-content: space-between;
  margin-top: 5rem;
}
@keyframes rollout {
  0% {
    opacity: 0;
    transform: translateX(900px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.IconsFooter p {
  margin-bottom: 0 !important;
  margin-top: 14px !important;
  color: #fff !important;
}

.roll-out {
  animation: 0.8s ease-out rollout;
}

@media (max-width: 1024px) {
  .CardAboutUs {
    width: 400px;
  }

  .FooterCard {
    width: 960px;
  }

  .about2 {
    display: none;
  }

  .portifolio-card-1 {
    width: 600px;
  }
}

@media (max-width: 480px) {
  .CardAboutUs {
    height: 800px !important;
    width: 480px !important;
  }
  .card {
    max-width: 480px;
  }

  .portifolio-card-1 {
    height: 200px;
  }
  .portifolio-card-1-title h1 {
    position: relative !important;
    padding-left: 80px;
    padding-right: 60px;
    font-size: 1.8rem !important;
  }
  .ImagesPotifolioCard {
    padding-bottom: 50px;
    top: -20px !important;
    position: relative !important;
    padding: 0 !important;
    margin-bottom: 4rem;
  }

  .FooterCard {
    justify-content: center !important;
    align-items: start !important;
    height: 100px !important;
    width: 400px;
  }

  .FooterCard p {
    padding: 0 !important;
    position: none;
    margin: 0;
  }
  .FooterCard a {
    padding-left: 30px !important;
    margin-top: 3rem;
    position: none;
  }
  .IconsFooter {
    margin: 0 !important;
    display: flex;
    justify-content: space-between;
  }
}
