/* styles/reset.css */

/* Reset de Margens e Preenchimentos */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Eurostile";
  src: url("https://db.onlinewebfonts.com/t/edf2b5ed76e67020a5e0bd3b76a28ead.eot");
  src: url("https://db.onlinewebfonts.com/t/edf2b5ed76e67020a5e0bd3b76a28ead.eot?#iefix")
      format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/edf2b5ed76e67020a5e0bd3b76a28ead.woff2")
      format("woff2"),
    url("https://db.onlinewebfonts.com/t/edf2b5ed76e67020a5e0bd3b76a28ead.woff")
      format("woff"),
    url("https://db.onlinewebfonts.com/t/edf2b5ed76e67020a5e0bd3b76a28ead.ttf")
      format("truetype"),
    url("https://db.onlinewebfonts.com/t/edf2b5ed76e67020a5e0bd3b76a28ead.svg#EurostileEF-Black")
      format("svg");
}

@font-face {
  font-family: "Roboto";
  src: url("https://db.onlinewebfonts.com/t/0033a2fbc0329740fb86c1cfd134cb94.eot");
  src: url("https://db.onlinewebfonts.com/t/0033a2fbc0329740fb86c1cfd134cb94.eot?#iefix")
      format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/0033a2fbc0329740fb86c1cfd134cb94.woff2")
      format("woff2"),
    url("https://db.onlinewebfonts.com/t/0033a2fbc0329740fb86c1cfd134cb94.woff")
      format("woff"),
    url("https://db.onlinewebfonts.com/t/0033a2fbc0329740fb86c1cfd134cb94.ttf")
      format("truetype"),
    url("https://db.onlinewebfonts.com/t/0033a2fbc0329740fb86c1cfd134cb94.svg#Roboto")
      format("svg");
}

:root {
  --primaryColor: rgb(0, 56, 35);
  --secondaryColor: rgb(73, 214, 148);
  --darkColor: #333;
  --lightColor: #fff;
}

html {
  min-width: 1200px;
}

/* Redefinir Estilos de Texto */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

p {
  font-family: "Roboto", Sans-serif;
  font-weight: 100;
  padding: 10px;
}

Link {
  text-decoration: "none";
}

a {
  text-decoration: none;
  cursor: pointer;
}

@media (max-width: 1024px) {
  html,
  body {
    width: 100%;
    max-width: 1024px;
    min-width: 1024px;
    margin: 0 auto; /* Center the content */
    padding: 0;
    box-sizing: border-box;
  }
}

@media (max-width: 480px) {
  html,
  body {
    width: 100%;
    max-width: 480px !important;
    min-width: 480px !important;
    margin: 0 auto; /* Center the content */
    padding: 0;
    box-sizing: border-box;
  }
}
