/* styles/reset.css */

/* Reset de Margens e Preenchimentos */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primaryColor: rgb(0, 56, 35);
  --secondaryColor: rgb(73, 214, 148);
  --darkColor: #333;
  --lightColor: #fff;
}

html {
  min-width: 1200px;
}

/* Redefinir Estilos de Texto */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

p {
  font-family: "IBM Plex Sans", Sans-serif;
  font-weight: 100;
  padding: 10px;
}

Link {
  text-decoration: "none";
}

a {
  text-decoration: none;
  cursor: pointer;
}

@media (max-width: 1024px) {
  html,
  body {
    width: 100%;
    max-width: 1024px;
    min-width: 1024px;
    margin: 0 auto; /* Center the content */
    padding: 0;
    box-sizing: border-box;
  }
}

@media (max-width: 480px) {
  html,
  body {
    width: 100%;
    max-width: 480px !important;
    min-width: 480px !important;
    margin: 0 auto; /* Center the content */
    padding: 0;
    box-sizing: border-box;
  }
  p {
    font-family: "Roboto", sans-serif !important;
  }
}
