.Section {
  background-color: #888;
  height: var(--section-height);
  display: flex;
  justify-content: center;
  align-items: center;
}
.Section .CardComponent {
  position: relative;
  left: -270px;
  top: 80px;
}

.Section .Card div:last-child {
  display: flex;
  flex-direction: column;
  justify-content: flex;
  color: aqua;
  align-items: flex-start;
}
